<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main>
        <header class="header">
            <nav class="nav">
                <div class="nav__logo">
                    <a href="">
                        <img src="/resources/Jsin.png" alt="logo" class="nav__img">
                    </a>
                </div>
                <div class="nav__links">
                    <a href="#" class="nav__link">About</a>
                    <a href="#" class="nav__link">Skills</a>
                    <a href="#" class="nav__link">Proyects</a>
                    <a href="#" class="nav__link nav__link--color">Contact</a>
                </div>
            </nav>
        </header>
    
    
    </main>
</body>
</html>